/* Globální nastavení */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    height: 100%;
}

.logo {
    text-decoration: none; /* Zrušení podtržení */
    color: inherit; /* Dědění barvy textu z nadřazeného elementu */
    font-size: inherit; /* Dědění velikosti písma */
    font-weight: inherit; /* Dědění tloušťky písma */
    cursor: pointer; /* Změna kurzoru na pointer při hoveru */
}

.logo:hover {
    text-decoration: none; /* Zajištění, že zůstane bez podtržení při hoveru */
    color: inherit; /* Zajištění, že barva zůstane stejná při hoveru */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #4a90e2;
    outline: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #357ABD;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

p a {
    color: #4a90e2;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
/* Styl pro logo */
.logo {
    margin-left: 20px;
    font-size: 24px; /* Velikost písma pro logo */
    font-weight: bold; /* Tučné písmo */
}
/* Obecné styly pro hlavičku */
header {
    display: flex; /* Použijte flexbox pro uspořádání */
    justify-content: space-between; /* Prostor mezi prvky */
    align-items: center; /* Vertikální zarovnání */
    padding: 10px 20px; /* Vnitřní okraje */
    background-color: #f4f4f4; /* Barva pozadí hlavičky */
    position: sticky; /* Zajistí, že zůstane nahoře při scrollování */
    top: 0; /* Zajistí, že je na vrchu */
    z-index: 1000; /* Zajišťuje, že je nad ostatními prvky */
}

/* Styl pro navigaci */
.nav_links {
    list-style: none; /* Odstranění odrážek */
    padding: 0; /* Odstranění vnitřního okraje */
    margin: 0; /* Odstranění vnějšího okraje */
    display: flex; /* Umožňuje horizontální uspořádání */
    justify-content: center; /* Udržuje odkazy na střed */
}

/* Styl pro jednotlivé odkazy v navigaci */
.nav_links li {
    margin: 0 7vh; /* Vzdálenost mezi odkazy */
}

.nav_links a {
    text-decoration: none; /* Odstranění podtržení */
    color: #333; /* Barva textu */
}

/* Styl pro uživatelské info */
.user-info {
    display: flex; /* Umožňuje horizontální uspořádání */
    align-items: center; /* Vertikální zarovnání */
}

#username {
    margin-right: 10px; /* Vzdálenost mezi uživatelským jménem a tlačítkem pro odhlášení */
}

/* Styl pro tlačítko odhlášení */
/* Styl pro tlačítko odhlášení */
.btn-logout {
    background-color: #ff1e3c; /* Barva pozadí */
    border: none; /* Bez okraje */
    color: #f4f4f4;  /* Barva textu */
    font-weight: 700; /* Tučné písmo */
    font-size: 1em; /* Velikost písma */
    text-shadow: none; /* Bez stínu textu */
    padding: 12px 28px; /* Vnitřní okraje */
    text-align: center; /* Zarovnání textu na střed */
    text-decoration: none; /* Bez podtržení */
    display: inline-block; /* Umožňuje nastavení okrajů */
    margin: 4px 2px; /* Vzdálenost mezi tlačítky */
    cursor: pointer; /* Změna kurzoru na ruku */
    border-radius: 25px; /* Zaoblení rohů */
    opacity: 0.7; /* Poloprůhlednost */
}

/* Styl pro tlačítko odhlášení při najetí myší */
.btn-logout:hover {
    opacity: 1; /* Zrušení poloprůhlednosti při najetí myší */
}


.btn-logout:hover {
    background-color: #b81200; /* Barva pozadí při najetí myší */
}

.form-box {
    flex: 1;
    margin: 20px; /* Spacing between the containers */
    padding: 20px;
    border: 1px solid #ccc; /* Optional styling */
    border-radius: 5px; /* Optional styling */
    background-color: #f9f9f9; /* Optional styling */
}
